<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ifrs.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icone_catavento"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- Splash screen -->
        <activity
            android:name="com.example.ifrs.myapplication.Splash_Activity"
            android:label="@string/app_name"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity Principal -->
        <activity
            android:name="com.example.ifrs.myapplication.MainActivity"
            android:configChanges="orientation|keyboardHidden" >
            <!--android:label="@string/app_name">-->
        </activity>
    </application>

</manifest>